.container {
  border: 3px solid tomato;
  border-radius: 3px;
  width: 25%;
  margin: 30px auto;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.name {
  text-align: center;
  color: Dodgerblue;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.result {
  display: inline-block;
}